<!DOCTYPE HTML>
<!--
    HTML5 and CSS Template License:
    Verti 2.0 by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title><%= title %></title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />
        
        <link rel="stylesheet" href="/style/skel-noscript.css" />
        <link rel="stylesheet" href="/style/style.css" />
        <link rel="stylesheet" href="/style/style-desktop.css" />
    </head>
    <body class="right-sidebar">