<script src="/script/lib/es5-shim.min.js"></script>
<script src="/script/lib/jquery-1.10.2.min.js"></script>
<script src="/script/lib/modernizr-2.6.2.min.js"></script>
<script src="/script/classy.js"></script>
<script src="/script/User.js"></script>
<script src="/script/courses.js"></script>
<script src="/script/users.js"></script>